h2,
h3,
p {
  color: white;
  font-weight: bold;
}
h2 {
  font-size: 1.8em;
  margin-top: -5px;
}
h3 {
  font-size: 1.4em;
}
p {
  margin-top: 5px;
  font-size: 1.1em;
}

.total {
  font-size: 1.6em;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.363);
  height: 200px;
  align-content: center;
}

.img {
  justify-self: center;
}
.details {
  grid-column: span 2;
  margin-left: 10px;
}

.operation {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-content: center;
  align-content: center;
  height: 30%;
  width: 30%;
}
.operator {
  grid-column: span 2;
  justify-self: end;
}

.operation > p {
  grid-column: span 3;
  align-self: center;
  justify-self: center;
}
button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: none;
  font-size: 1.3em;
  color: #cd8d7b;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.74);
}

button:hover {
  background-color: black;
  color: white;
}
