.footer {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  color: white;
  height: 60px;
  width: 100%;
  font-weight: bold;
  z-index: 1;
  background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #ffbc7d);
  background-size: 300% 300%;
  border-top: 2px solid white;
  animation: colors 15s ease infinite;
  align-items: center;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

p {
  font-style: italic;
  font-size: 1.2em;
  font-weight: bold;
  grid-column: span 2;
  justify-self: end;
}

.logos {
  grid-column: span 3;
  justify-self: center;
}

a {
  margin-right: 40px;
}

a:hover {
  filter: brightness(0);
}

@media screen and (max-width: 426px) {
  p {
    margin-left: 30px;
  }
}
