/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}
html {
  background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
  background-size: 300% 300%;
  animation: colors 15s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  cursor: pointer;
}
